<% layout('layout/main') -%>
<% block('title', 'About') -%>


<div class="container">
  <h1 class="blog-heading top-m">About</h1>

  <p class="w-75 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quam quia eos, dolorum necessitatibus commodi magnam, nobis praesentium vitae placeat officiis consequuntur impedit laudantium. Laboriosam consequatur laudantium quibusdam magnam aspernatur.  </p>

    <!-- <h3 class="mt-4 mb-4">This will be your about section of Blog website </h3>-->
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam officiis temporibus doloremque incidunt neque ipsum rem velit earum? Officiis reiciendis voluptate culpa dicta voluptas, aliquam molestias optio? Quisquam, placeat pariatur.</p><br><br><br><br>
    

   <!-- <h3 class="mt-4 mb-4">More about me?</h3>

  <a href="https://hitik20.tech/">Visit my Portfolio website</a> <br>

  <a href="https://hitik20.medium.com/">View my Blog Profile</a> -->
  
  
</div>
