<% layout('layout/main') -%>
<% block('title', 'Contact') -%>



    <div class="container">
      <h1 class="blog-heading top-m">Contact Page</h1>

      <!-- <p class="w-75 mx-auto text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos recusandae possimus maxime odio quae? Molestiae, voluptas tempore distinctio, tempora repellat atque recusandae, neque quo necessitatibus itaque assumenda esse eaque ad!  </p> -->

        <p class="mt-4 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum necessitatibus totam facere fugiat illum nam ullam voluptate unde molestiae velit nihil, numquam eius illo id! Fuga soluta corrupti minus amet!</p><br><br><br><br><br><br><br><br>

      
    </div>
